body {
    background-image: url("../assets/images/leaves.png");
}

 .container {
     margin-top: 50px;
     padding: 30px;
     background-color: #ffffff;
 }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}